.weather-project {
  width: 900px;
  margin: 50px auto;
  border: 5px solid rgb(89, 112, 136);
  border-radius: 20px;
  background-image: url("https://images.unsplash.com/photo-1488866022504-f2584929ca5f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8bmlnaHR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
}
